/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BaoLaKiswahili implementation : © <Alexander Rühl> <alex@geziefer.de>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

 .board {
    width: 960px;
    height: 493px;
    background-image: url('img/board.png');
    position: relative;
    margin-top: 90px;
    margin-bottom: 90px;
 }

.board-nyumba {
    width: 960px;
    height: 493px;
    background-image: url('img/board-nyumba.png');
    position: relative;
    margin-top: 90px;
    margin-bottom: 90px;
 }

.blk_nyumba {
    position: absolute;
}

 #nyumba_player {
    width: 111px;
    height: 105px;
    background-image: url('img/nyumba_player.png');
 }

 #nyumba_opponent {
    width: 108px;
    height: 99px;
    background-image: url('img/nyumba_opponent.png');
 }

.blk_circle {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
}

.blk_label {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ebc997;
    color: #55380a;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

.blk_stone { 
    width: 45px;
    height: 32px;
    position: absolute;
    background-image: url('img/stone.png'); 
}

.blk_stone_seed { 
    width: 41px;
    height: 37px;
    position: absolute;
    background-image: url('img/seed.png'); 
}

.blk_stone_opponent { 
    width: 45px;
    height: 32px;
    position: absolute;
    background-image: url('img/stone2.png'); 
}

.blk_possibleBowl {
    cursor: pointer;  
    background: radial-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0) 75%);    
}

.blk_editBowl {
    cursor: pointer;  
    background: radial-gradient( rgb(210, 250, 210), rgba(255, 255, 255, 0) 75%);    
}

.blk_clearBowl {
    cursor: pointer;  
    background: radial-gradient( rgb(246, 223, 216), rgba(255, 255, 255, 0) 75%);    
}

.blk_selectedBowl {
    cursor: pointer;
    background: radial-gradient( rgb(127, 128, 126), rgba(255, 255, 255, 0) 75%);    
}

.blk_capturedBowl .blk_stone {
    filter: brightness(125%);    
}

.blk_possibleDirection {
    cursor: pointer;  
    background: radial-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0) 75%);    
}

.blk_possibleStone {
    filter: brightness(125%);
}

.blk_selectedStone {
    filter: brightness(125%);
}

#preferences {
    grid-column: 2/4;
    grid-row: 9;
}

.blk_auto_preference_box {
    display: block;
    margin: 10px 10px 10px 0;
    background-color: #191970;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    padding: 10px;
    float: left;
}

.blk_seed_area {
    height: 75px;
    width: 300px;
    border-radius: 25px;
    border-color: black;
    border-style:dotted;
    margin-left: 330px;
    position: relative;
}

.blk_phase_label {
    margin-top: -60px;
    margin-left: 10px;
    font-size: x-large;
    font-weight: bold;
    color: black;
    position: absolute;
}