/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BaoLaKiswahili implementation : © <Alexander Rühl> <alex@geziefer.de>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#board {
    width: 960px;
    height: 493px;
    background-image: url('img/board.png');
    position: relative;
 }

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
}

.label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #a97a4c;
    background-color: #ebc997;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.stone { 
    width: 45px;
    height: 32px;
    position: absolute;
    background-image: url('img/stone.png'); 
}

.possibleBowl {
    cursor: pointer;  
}

.selectedBowl {
    cursor: pointer;
}

.possibleDirection {
    cursor: pointer;  
    border: 2px solid #a97a4c;
}

.possibleStone {
    filter: brightness(150%);
}

.selectedStone {
    filter: sepia(100%);
}
