/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BaoLaKiswahili implementation : © <Alexander Rühl> <alex@geziefer.de>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#blk_board {
    width: 960px;
    height: 493px;
    background-image: url('img/board.png');
    position: relative;
 }

.blk_circle {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
}

.blk_label {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ebc997;
    color: #55380a;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

.blk_stone { 
    width: 45px;
    height: 32px;
    position: absolute;
    background-image: url('img/stone.png'); 
}

.blk_possibleBowl {
    cursor: pointer;  
    background: radial-gradient( rgb(230, 214, 214), rgba(255, 255, 255, 0) 75%);    
}

.blk_selectedBowl {
    cursor: pointer;
    background: radial-gradient( rgb(132, 246, 67), rgba(255, 255, 255, 0) 75%);    
}

.blk_capturedBowl {
    background: radial-gradient( rgb(235, 98, 98), rgba(255, 255, 255, 0) 75%);    
}

.blk_possibleDirection {
    cursor: pointer;  
    background: radial-gradient( rgb(230, 214, 214), rgba(255, 255, 255, 0) 75%);    
}

/** intentionally empty, just show here that it is used as a marker */
.blk_possibleStone {
}

/** intentionally empty, just show here that it is used as a marker */
.blk_selectedStone {
}

#blk_preferences {
    grid-column: 2/4;
    grid-row: 9;
}

.blk_auto_preference_box {
    display: block;
    margin: 10px 10px 10px 0;
    background-color: #191970;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    padding: 10px;
    float: left;
}